@model Weather

@{
    ViewData["Title"] = "Local Weather";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>
        Enter your Zip Code:<br>
        <label asp-for="Zip" class="control-label">Zip Code</label>
        <input type="number" name="Zip" class="form-control" />
    </p>
</div>
